@font-face {
    font-family: 'aaux_promediumregular';
    src: url('fonts/aaux_pro_bold-webfont.woff2') format('woff2'),
         url('fonts/aaux_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_prothinregular';
    src: url('fonts/aaux_pro_light-webfont.woff2') format('woff2'),
         url('fonts/aaux_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_proregularregular';
    src: url('fonts/aaux_pro_medium-webfont.woff2') format('woff2'),
         url('fonts/aaux_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_prolightregular';
    src: url('fonts/aaux_pro_regular-webfont.woff2') format('woff2'),
         url('fonts/aaux_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandongrotesque_bold';
    src: url('fonts/brandon_grotesque_bold-webfont.woff2') format('woff2'),
         url('fonts/brandon_grotesque_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandongrotesque_medium';
    src: url('fonts/brandon_grotesque_medium-webfont.woff2') format('woff2'),
         url('fonts/brandon_grotesque_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tradegothic';
    src: url("fonts/TradeGothicLTStd-Light.otf") format("opentype");
}

body{
	font-family: 'aaux_prolightregular',sans-serif;
	font-size: 12px;
	line-height: 18px; 
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6, form, table, p, ol, ul, li {
	margin: 0px;
	padding: 0px;
    font-weight: normal;
    list-style: none;
}

$images_path: '../_imagens/layout/';

%box_sizing{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin background_cover($path, $img){
	background: url($path + $img) no-repeat top center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

$title_color: #ffce3f;
$secundary_color: #43231c;

#website{
	width: 100%;
    position: relative;
}

header{
	width: 105px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px 20px;
	/*background: rgba(217,223,206,0.9);*/
	background: url('../_imagens/layout/bg-menu.png') repeat top left;
	z-index: 99999;
	overflow: hidden;
	transition: all .2s ease-in-out;

	#logo{
		position: absolute;
		top: 40px;
		left: 20px;

		img{
			max-width: 60px;
			max-height: 110px;
		}
	}

	.chateaux{
		position: absolute;
		bottom: 200px;
		left: 40px;
		opacity: 0;
		transition: all .1s ease-in-out;
	}

	.social-text{
		width: 115px;
		position: absolute;
		transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    color: #707070;
	    font-size: 15px;
	    bottom: 130px;
	    left: -5px;
	    font-family: 'tradegothic', sans-serif;
	    font-weight: bold;
	}

	.social{
		position: absolute;
	    bottom: 70px;
	    left: 80px;
	    width: 100px;
	    opacity: 0;
		transition: all .1s ease-in-out;

	    a{
	    	width: 48px;
		    text-align: center;
		    display: inline-block;
		    padding: 0px 0px 18px 10px;
		    font-size: 21px;
		    color: #707070;
	    }
	}

	@extend %box_sizing;
}

@media only screen and (min-width: 992px){

	#menu{
		position: absolute;
		top: calc(40vh - 70px);
		left: 40px;

		ul{
			width: 155px;
			list-style: none;
		}

		li{
			margin-bottom: 10px;
		}

		a{
			text-decoration: none;
		}

		span{
			display: inline-block;
			vertical-align: middle;
			opacity: 0;
		    transition: all .2s ease-in-out;
		    font-family: 'aaux_prolightregular';
		    color: $secundary_color;
		    font-size: 1.4vw;
		    line-height: 1.4vw;
		    text-transform: uppercase;
		}

		span.menu-pager{
		    width: 8px;
		    height: 8px;
		    border-radius: 8px;
		    border: 1px solid #43231c;
		    background-color: transparent;
		    opacity: 1;
		    margin-right: 5px;
		}

		li.active{

			span{
				font-family: 'aaux_proregularregular';
			}

			span.menu-pager{
				background-color: #43231c;
			}

		}

		a:hover span.menu-pager{
			background-color: #43231c;
		}

	}

	header:hover{
		width: 280px;

		#logo{
			top: 40px;
			left: 40px;

			img{
				max-width: 100%;
			}
		}

		#menu span{
			opacity: 1;
		}

		.chateaux{
			opacity: 1;
		}

		.social{
			opacity: 1;
		}

	}

}

.section{
	padding-left: 105px;
}

.section1{
	@include background_cover($images_path, 'carnaval-background.jpg');

	.text-block{
		position: absolute;
		top: calc(40vh - 110px);
		left: 20vw;

		h1{
			font-size: 7.2vw;
			line-height: 7.2vw;
			font-family: 'brandongrotesque_bold';
			color: $title_color;
			text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
			letter-spacing: -5px;
		}

		p{
			font-size: 1.9vw;
			line-height: 1.9vw;
			letter-spacing: -1.8px;
			color: #fff;
			margin-bottom: 10px;
			text-align: center;
		}

		span{
			color: $title_color;
			font-family: 'brandongrotesque_bold';
			font-size: 37px;
		}
	}
}

.section2{
	@include background_cover($images_path, 'brasil-background.jpg');

	h2{
		width: 390px;
		color: $title_color;
		font-size: 40px;
		line-height: 40px;
		font-family: 'brandongrotesque_bold';
		letter-spacing: -1px;
		margin-bottom: 20px;
	}

	p{
		font-size: 1.2vw;
		line-height: 25px;
		color: #fff;
		text-align: justify;
	}

	.video{
		position: relative;
		cursor: pointer;

		video{
			width: calc(100% - 70px);
			height: 50vh;
			@include background_cover($images_path, 'mapa.jpg');
			position: relative;
			margin-left: 70px;
		}

		div.play{
			position: absolute;
			top: 0;
			right: 15px;
			width: calc(100% - 100px);
			height: 100%;

			img{
				width: 3vw;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}

		div.play.hide{
			display: none;
		}

	}

}

.section3{
	@include background_cover($images_path, 'bahia-background.jpg');

	.text-block{
		width: 630px;
		position: absolute;
		top: 130px;
		left: calc(50% - 300px);

		h2{
			font-size: 40px;
			line-height: 40px;
			font-family: 'brandongrotesque_bold';
			color: #fff;
			letter-spacing: -1.5px;
			margin-bottom: 20px;
		}

		p{
			font-size: 1.2vw;
			line-height: 25px;
			color: #fff;
			text-align: center;
			letter-spacing: -1px;
		}

	}

}

.slide .fp-tableCell{
	position: relative;
}

.slide.bg1{
	@include background_cover($images_path, 'txai-slide1.jpg');
}

.slide.bg2{
	@include background_cover($images_path, 'txai-slide2.jpg');
}

.slide.bg3{
	@include background_cover($images_path, 'txai-slide3.jpg');
}

.slide.bg4{
	@include background_cover($images_path, 'txai-slide4.jpg');
}

.slide.bg5{
	@include background_cover($images_path, 'txai-slide5.jpg');
}

.slide.bg6{
	@include background_cover($images_path, 'txai-slide6.jpg');
}

#fullpage{

	.fp-slides{

		.slide p{
			position: absolute;
			bottom: 130px;
			width: 100%;
			padding: 20px 0px;
			text-align: center;
			background: rgba(255,255,255,0.9);
			font-size: 18px;
			font-family: 'aaux_promediumregular';
		}

	}

	.fp-controlArrow {
	    width: 32px;
	    height: 33px;
	    background-color: #ffce3f;
	    border-radius: 2px;
		border: 0;
		font-size: 12px;
	    font-weight: bold;
	    text-align: center;
	    padding-top: 9px;
	    opacity: 0.9;
	}

    .fp-next{
		right: 8vw;
	}

	.fp-next:before{
		content: "\02C3";
	}

	.fp-next:hover{
		opacity: 1;
	    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.6);
		-moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.6);
		box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.6);
	}

	.fp-prev{
		left: calc(80px + 8vw);
	}

	.fp-prev:before{
		content: "\02C2";
	}

	.fp-prev:hover{
		opacity: 1;
	    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.6);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.6);
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.6);
	}

}

.section5{
	background-color: #fdfefd;

	h3{
		font-size: 1.5vw;
		line-height: 2vw;
		color: $secundary_color;
		font-family: 'brandongrotesque_bold';
		margin-bottom: 20px;
	}

	h2{
		font-size: 1.2vw;
		line-height: 1.6vw;
		color: $secundary_color;
		margin-bottom: 20px;
		padding: 0px 35px;
	}

	img{
		margin-bottom: 30px;
	}

	form{
		width: 100%;

		input[type=text],
		input[type=email]{
			width: 100%;
			height: 45px;
			background-color: #fff;
			border: 1px solid #eeefee;
			@extend %box_sizing;
			margin-bottom: 10px;
			-webkit-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			-moz-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			padding-left: 10px;
		}

		textarea{
			width: 100%;
			height: 80px;
			-webkit-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			-moz-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			margin-bottom: 10px;
			@extend %box_sizing;
			padding-left: 10px;
			padding-top: 10px;
			background-color: #fff;
			border: 1px solid #eeefee;
			resize: none;
		}

		label{
			width: 100%;
			font-size: 11px;
			color: #707070;
			font-family: 'brandongrotesque_medium';
			text-align: left;
		}

		input[type=checkbox]{
			display: inline-block;
			vertical-align: middle;
			margin: 0px;
			width: 20px;
		    height: 20px;
		    background-color: #fff;
		    border: 1px solid #eeefee;
		    border-radius: 2px;
		    -moz-border-radius: 2px;
		    -webkit-border-radius: 2px;
		    -o-border-radius: 2px;
		    -webkit-appearance: none;
			-webkit-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			-moz-box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
			box-shadow: 5px 5px 5px 0px rgba(238,239,238,1);
		    vertical-align: sub;
		}

		input[type=checkbox]:checked{
			background: url('../_imagens/layout/check.jpg') no-repeat center center;
		}

		label.check{
			display: inline-block;
			width: auto;
			vertical-align: middle;
			margin: 0px;
			font-size: 12px;
			margin-right: 7px;
		}

		.button-sm{
			line-height: 45px;
			background-color: $title_color;
			color: #707070;
			text-align: center;
			width: 150px;
			display: inline-block;
			text-decoration: none;
			cursor: pointer;
			font-family: 'brandongrotesque_medium';
			font-size: 11px;
		}

		input[type=submit]{
			line-height: 60px;
			background-color: $title_color;
			color: #707070;
			text-align: center;
			width: 100%;
			display: inline-block;
			text-decoration: none;
			cursor: pointer;
			font-family: 'brandongrotesque_medium';
			font-size: 16px;
			text-transform: uppercase;
			border: none;
			margin-top: 20px;
			letter-spacing: -0.5px;
		}

	}

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes up-down {
    from{transform:translateY(0)}
    to{transform:translateY(-5px)}
}

@keyframes up-down {
    from{transform:translateY(0)}
    to{transform:translateY(-5px)}
}

.scroll-button{
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 999;
}

.scroll-button a{
	animation: up-down .4s infinite;
	-webkit-animation: up-down .4s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    transition: all .2s ease-in-out;
    display: inline-block;
}

@media only screen and (max-width: 991px){

	header{
		width: 100%;
		height: 70px;

		#logo{
			top: 10px;
			left: 20px;
			img{
				max-width: 40px;
			}
		}

		.menu-toggle{
	        border: 0;
	        color: $secundary_color;
	        cursor: pointer;
	        height: 55px;
	        line-height: 55px;
	        outline: 0;
	        padding: 0;
	        position: fixed;
	        right: 0px;
	        text-align: center;
	        top: 8px;
	        width: 55px;
	        z-index: 99999;

	        .icon-menu-els {
		        display: block;
		        margin: 21px auto;
		        width: 25px;
		    }

		    .menu-bar {
		        background: $secundary_color;
		        display: block;
		        height: 3px;
		        margin-bottom: 4px;
		        -webkit-transition: all 300ms;
		        -moz-transition: all 300ms;
		        -ms-transition: all 300ms;
		        -o-transition: all 300ms;
		        transition: all 300ms;
		        width: 25px;
		    }

		    .menu-bar:first-child {
		        margin-top: 4px;
		        opacity: 1;
		        -webkit-transform: rotate(0) translate(0,0);
		        -moz-transform: rotate(0) translate(0,0);
		        -ms-transform: rotate(0) translate(0,0);
		        -o-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
		        -webkit-transform-origin: center;
		        -moz-transform-origin: center;
		        -ms-transform-origin: center;
		        -o-transform-origin: center;
		        transform-origin: center;
		    }

		   .menu-bar:last-child {
		        opacity: 1;
		        -webkit-transform: rotate(0) translate(0,0);
		        -moz-transform: rotate(0) translate(0,0);
		        -ms-transform: rotate(0) translate(0,0);
		        -o-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
		        -webkit-transform-origin: center;
		        -moz-transform-origin: center;
		        -ms-transform-origin: center;
		        -o-transform-origin: center;
		        transform-origin: center;
		    }

	    }

	    nav#menu{
	    	width: 100%;
	    	position: fixed;
	    	top: 70px;
	    	left: 0px;
	    	height: 0px;
	    	overflow: hidden;
	    	background: url(../_imagens/layout/bg-menu.png) repeat top left;
			transition: all .3s ease-in-out;
			z-index: 99999;

	    	li{
	    		padding: 0px 20px;
	    	}

	    	a{
	    		display: block;
	    		border-bottom: 1px solid $secundary_color;
	    		padding: 20px 0px;
	    		color: $secundary_color;
	    		font-family: 'brandongrotesque_bold';
	    		text-transform: uppercase;
	    	}
	    }

	    .social-text{
	    	display: none;
	    }

	    .social{
	    	opacity: 1;
	    	width: 160px;
	    	top: 20px;
	    	left: calc(50% - 80px);

	    	a{
	    		width: 35px;
	    	}
	    }
	}

	 html.show{

	 	.menu-bar{
	        background: #000;
	    }

	    .menu-toggle{
	        position: fixed;
	    }

	    .menu-toggle .menu-bar{
	        opacity: 0;
	    }

	    .menu-bar:first-child {
	        margin-top: 4px;
	        opacity: 1;
	        -webkit-transform: rotate(45deg) translate(5px,5px);
	        -moz-transform: rotate(45deg) translate(5px,5px);
	        -ms-transform: rotate(45deg) translate(5px,5px);
	        -o-transform: rotate(45deg) translate(5px,5px);
	        transform: rotate(45deg) translate(5px,5px);
	    }

	    .menu-bar:last-child {
	        opacity: 1;
	        -webkit-transform: rotate(-45deg) translate(5px,-5px);
	        -moz-transform: rotate(-45deg) translate(5px,-5px);
	        -ms-transform: rotate(-45deg) translate(5px,-5px);
	        -o-transform: rotate(-45deg) translate(5px,-5px);
	        transform: rotate(-45deg) translate(5px,-5px);
	    }

	    nav#menu{
	    	height: calc(100% - 70px);
	    	overflow-y: auto;
	    }

	}

	.section{
		padding-left: 0px;
	}

	.section1{
		.text-block{
			position: absolute;
			top: calc(40vh - 70px);
			left: 20vw;

			h1{
				font-size: 14vw;
				line-height: 14vw;
				font-family: 'brandongrotesque_bold';
				color: $title_color;
				text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
				letter-spacing: 0px;
			}

			p{
				font-size: 4.4vw;
				line-height: 5vw;
				letter-spacing: -1px;
				color: #fff;
				margin-bottom: 5px;
				text-align: center;
			}

			span{
				color: $title_color;
				font-family: 'brandongrotesque_bold';
				font-size: 4.4vw;
			}
		}
	}

	.section2{
		@include background_cover($images_path, 'brasil-background.jpg');
		padding-top: 40px;
		padding-bottom: 40px;

		h2{
			width: 100%;
			color: $title_color;
			font-size: 30px;
			line-height: 35px;
			font-family: 'brandongrotesque_bold';
			letter-spacing: -1px;
			margin-bottom: 20px;
			text-align: center;
		}

		p{
			font-size: 16px;
			line-height: 25px;
			color: #fff;
			text-align: justify;
		}

		.video{
			position: relative;
			cursor: pointer;
			margin-top: 20px;

			video{
				width: 100%;
				height: 50vh;
				@include background_cover($images_path, 'mapa.jpg');
				position: relative;
				margin: 0px;
			}

			div.play{
				position: absolute;
				top: 0;
				right: 15px;
				width: calc(100% - 30px);
				height: 100%;

				img{
					width: 6vw;
				}
			}

		}

	}

	.section3{
		@include background_cover($images_path, 'bahia-background.jpg');

		.text-block{
			width: auto;
			padding: 0px 20px;
			position: absolute;
			top: 50px;
			left: 0px;
			text-align: center;

			h2{
				font-size: 40px;
				line-height: 40px;
				font-family: 'brandongrotesque_bold';
				color: #fff;
				letter-spacing: -1.5px;
				margin-bottom: 20px;
			}

			p{
				font-size: 16px;
				line-height: 25px;
				background: rgba(0,0,0,0.2);
			}

		}

	}

	#fullpage{

		.fp-prev{
			left: 10px;
		}

		.fp-next{
			right: 10px;
		}

		.fp-slides{

			.slide p{
				bottom: 50px;
				width: 100%;
				padding: 15px 10px;
				font-size: 14px;
			}

		}
	}

	.section5{
		padding-top: 20px;
		padding-bottom: 110px;

		h3{
			font-size: 21px;
			line-height: 28px;
			margin-bottom: 20px;
		}

		h2{
			font-size: 18px;
			line-height: 25px;
		}

		img{
			max-width: 100%;
			margin: 30px auto 0px auto;
		}

		form{
			width: 100%;

			input[type=text],
			input[type=email]{
				width: 100%;
				height: 40px;
				margin-bottom: 10px;
			}

			textarea{
				width: 100%;
				height: 80px;
				margin-bottom: 10px;
			}

			label.check{
				margin-bottom: 10px;
			}

			.button-sm{
				line-height: 40px;
				font-size: 11px;
			}

			input[type=submit]{
				line-height: 50px;
				font-size: 14px;
			}

		}

	}

}